<div layout="row" layout-wrap>
    <md-input-container flex-sm="100" flex="50" layout-padding>
        <label ng-class="(value.notBlank && !source[key]) ? 'required-field' : ''">appKey</label>
        <input type="text" ng-model="source.appKey" ng-required="value.notBlank">
    </md-input-container>
    <md-input-container flex-sm="100" flex="50" layout-padding>
        <label ng-class="(value.notBlank && !source[key]) ? 'required-field' : ''">secret</label>
        <input type="text" ng-model="source.secret" ng-required="value.notBlank">
    </md-input-container>
    <md-input-container flex-sm="100" flex="50" layout-padding>
        <label ng-class="(value.notBlank && !source[key]) ? 'required-field' : ''">sessionKey</label>
        <input type="text" ng-model="source.sessionKey" ng-required="value.notBlank">
    </md-input-container>
</div>