<md-dialog style="padding:20px;min-width: 550px;max-height: 650px; overflow-y:scroll">
    <div layout="column">
        <div layout="row">
            <span style="position: absolute; top: 35px; left: 35px;">
            <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox" ng-change="selectAllAction()"></md-checkbox>
            </span>
            <md-input-container flex style="margin-left: 50px;">
                <label>经销商编号</label>
                <input name="no" type="text" ng-model="searchQuery.no" md-maxlength="18">
            </md-input-container>
            <md-input-container flex style="margin-left: 10px;">
                <label>经销商名称</label>
                <input name="no" type="text" ng-model="searchQuery.name" md-maxlength="18">
            </md-input-container>
        </div>

        <div layout="column">
            <md-list-item ng-repeat="data in allData">
                <div align="center" flex="5">
                    <md-checkbox ng-model="data.selected" aria-label="Checkbox"
                                 ng-click="addToggle(data, selected)"></md-checkbox>
                </div>
                <div align="center" flex="45" class="table-item">{{data.no}}</div>
                <div align="center" flex="45" class="table-item">{{data.name}}</div>
            </md-list-item>
            <div pagination option="pageOption" callback="refreshData()"></div>
        </div>
        <div layout="row">
            <md-button class="md-button" aria-label="More" ng-click="hideDlg()">
                确定
            </md-button>
            <md-button class="md-icon-button" ng-click="cancelDlg()">
                取消
            </md-button>
        </div>
    </div>
</md-dialog>