<md-dialog style="padding: 30px;min-width: 1000px; max-height:650px;">
    <style type="text/css">
        md-input-container {
            padding-bottom: 16px;
        }
    </style>
    <md-content>

        <div flex layout="column" style="font-size: small">
            <div layout="row">
                <!--<div layout="column" flex="25" ng-if="saveData.length > 0"-->
                <!--style=" padding: 10px; height:550px; overflow-x: hidden;">-->
                <!--<div>同步品牌至下级渠道</div>-->
                <!--<md-chips ng-repeat="newData in saveData">-->
                <!--<md-chip>-->
                <!--<span style="font-size: small" ng-click="bindAddData(newData)">{{newData.item.name}}</span>-->
                <!--<md-icon md-svg-icon="md-close" ng-click="removeAddData(data)"></md-icon>-->
                <!--</md-chip>-->
                <!--</md-chips>-->
                <!--</div>-->
                <div layout="column" flex="35" style=" padding: 10px;">

                    <div style=" padding: 0px 0px 15px 0px;">请选择下级渠道： {{selectedItem.name}}</div>
                    <form name="searchData" novalidate="">
                        <div layout="row" flex="50">
                            <md-input-container flex="80">
                                <label>渠道编号/名称</label>
                                <input name="no" type="text" ng-model="searchKeyword">
                            </md-input-container>

                            <md-button ng-click="search()" ng-disabled="searchData.$invalid">
                                <i class="fa fa-search"></i>
                            </md-button>
                        </div>
                        <md-list-item class="md-2-line" ng-repeat="data in allChannel" ng-click="selectData(data)">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <div flex="35" layout="column"><span>{{ data.channel.no }}</span></div>
                                    <div layout="column"><span>{{ data.channel.name }}</span></div>
                                </div>
                            </div>

                            <md-divider></md-divider>
                        </md-list-item>
                    </form>
                    <div pagination option="pageOption" callback="refreshChannel()"></div>
                </div>

                <div layout="column" flex="65">
                    <!--<div style=" padding: 0px 0px 15px 0px;">己选择品牌數： {{selected.size}}</div>-->
                    <div layout-margin layout-align="center center" ng-if="selectedItem != null">
                        <div layout="row" ng-if="selectedItem != null">
                            <div align="center" flex="5" class=" table-head">
                                <md-checkbox ng-click="selectAllAction(selectAllFlag)" ng-checked="selectAllFlag"
                                             aria-label="全选">
                                </md-checkbox>
                            </div>
                            <div align="center" flex="45" class=" table-head">品牌编号</div>
                            <div align="center" flex="45" class=" table-head">品牌名称</div>
                        </div>

                        <div ng-repeat="item in allBrand | orderBy: 'no'">
                            <div layout="row">
                                <div flex="5" class=" table-item">
                                    <md-checkbox aria-label="..." ng-click="toggle(item, selected)"
                                                 ng-checked="item.checked"> {{item.checked}}
                                    </md-checkbox>

                                </div>
                                <div align="center" flex="45" class=" table-item">
                                    <div style=" padding: 10px 0px 0px 0px;">{{item.brand.no}}</div>
                                </div>
                                <div align="center" flex="45" class=" table-item">
                                    <div style=" padding: 10px 0px 0px 0px;">{{item.brand.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div pagination option="pageOption2" callback="refreshBrand(selectAllFlag)"></div>
                    </div>
                </div>

            </div>

            <div layout="row">
                <md-button ng-click="hideDlg()">
                    <i class="fa fa-plus"></i>&nbsp;保存
                </md-button>

                <md-button ng-click="cancelDlg()"><i class="fa fa-times"></i>&nbsp;关闭</md-button>
            </div>
        </div>

    </md-content>
</md-dialog>