<md-dialog style="padding:10px;min-width: 550px;max-height: 650px; overflow-y:scroll">
    <md-content layout="column">
        <form name="addCustomForm" novalidate>
            <!--<div layout="row">-->
            <!--<div align="center" flex="5" style="margin-left:6px;margin-top:27px;">-->
            <!--<md-checkbox ng-click="selectAllMenuAction(searchQuery.no,searchQuery.name)">-->
            <!--</md-checkbox>-->
            <!--</div>-->
            <!--<div flex="45">-->
            <!--<md-input-container>-->
            <!--<label>品牌编号</label>-->
            <!--<input type="text" ng-model="searchQuery.no" ng-keypress="queryEnter($event)">-->
            <!--</md-input-container>-->
            <!--</div>-->
            <!--<div flex="45">-->
            <!--<md-input-container>-->
            <!--<label>品牌名称</label>-->
            <!--<input type="text" ng-model="searchQuery.name" ng-keypress="queryEnter($event)">-->
            <!--</md-input-container>-->
            <!--</div>-->
            <!--</div>-->

            <div layout="row">
                <md-input-container flex>
                    <label>品牌编号</label>
                    <input name="no" type="text" ng-model="searchQuery.no" md-maxlength="20">
                </md-input-container>
                <md-input-container flex>
                    <label>品牌名称</label>
                    <input name="no" type="text" ng-model="searchQuery.name" md-maxlength="20">
                </md-input-container>
            </div>

            <div layout="column">
                <md-list-item ng-repeat="data in allProductionsData | filter:searchQuery:false">
                    <div align="center" flex="5">
                        <md-checkbox ng-checked="exists(data, selected)" ng-click="addSeriesToggle(data, selected)">
                        </md-checkbox>
                    </div>
                    <div align="center" flex="45" class="table-item">{{data.no}}</div>
                    <div align="center" flex="45" class="table-item">{{data.name}}</div>
                </md-list-item>
                <div pagination option="pageOption" callback="refreshAllTemplate()"></div>
            </div>
            <div layout="row">
                <md-button class="md-button" aria-label="More" ng-click="save()">
                    确定
                </md-button>
                <md-button class="md-icon-button" ng-click="cancelDlg()">
                    取消
                </md-button>
            </div>
        </form>
    </md-content>
</md-dialog>

