<md-content  style="overflow: scroll;">
    <div >
        <md-button ng-show="selectedItem.confirm == 1 && selectedItem.status == 1 && selectedItem.transferFlag == 2"
                   ng-click="openOrderItemsDlg()" class="md-raised">
            <i class="fa fa-plus"></i>新增产品
        </md-button>
        <md-button
                ng-if="itemOperationMenuDisplayOption['502-audit'].display && (menuAuthDataMap[itemOperationMenuDisplayOption['502-audit'].uuid] || isAdmin() || !itemOperationMenuDisplayOption['502-audit'].uuid)"
                ng-disabled="audit_detail_disabled == 1" class="md-raised" ng-click="confirmOrderItem();">
            {{itemOperationMenuDisplayOption['502-audit'].name}}
        </md-button>
        <md-button
                ng-if="itemOperationMenuDisplayOption['503-revertAudit'].display && (menuAuthDataMap[itemOperationMenuDisplayOption['503-revertAudit'].uuid] || isAdmin() || !itemOperationMenuDisplayOption['503-revertAudit'].uuid)"
                ng-disabled="revert_audit_detail_disabled == 1" class="md-raised" ng-click="unConfirmOrderItem();">
            {{itemOperationMenuDisplayOption['503-revertAudit'].name}}
        </md-button>
        <md-button
                ng-if="itemOperationMenuDisplayOption['504-purchaseSubmit'].display && (menuAuthDataMap[itemOperationMenuDisplayOption['504-purchaseSubmit'].uuid] || isAdmin() || !itemOperationMenuDisplayOption['504-purchaseSubmit'].uuid)"
                ng-disabled="purchase_submit_detail_disabled == 1" class="md-raised"
                ng-click="changeDtlPurchaseFlag(2)">
            {{itemOperationMenuDisplayOption['504-purchaseSubmit'].name}}
        </md-button>
        <md-button
                ng-if="itemOperationMenuDisplayOption['505-purchaseBack'].display && (menuAuthDataMap[itemOperationMenuDisplayOption['505-purchaseBack'].uuid] || isAdmin() || !itemOperationMenuDisplayOption['505-purchaseBack'].uuid)"
                ng-disabled="purchase_back_detail_disabled == 1" class="md-raised"
                ng-click="openPurchaseReturnRemarkDlg('dtlList')">
            {{itemOperationMenuDisplayOption['505-purchaseBack'].name}}
        </md-button>
    </div>
    <div layout="row">
        <div flex="5" class="verticalLine table-head"
             ng-disabled="!(selectedItem.confirm == 1 && selectedItem.status == 1 && selectedItem.transferFlag == 2)">
            <md-checkbox ng-checked="isSelectedAllDetail()" aria-label="Checkbox"
                         md-indeterminate="isIndeterminateDtl()"
                         ng-click="selectDetailAllAction()"></md-checkbox>
        </div>
        <div align="center" flex="5"
             ng-show="showDtlOpt"
             class=" table-head">操作
        </div>
        <div align="center" flex="5"  class=" table-head">项次</div>
        <div align="center" flex="10" class=" table-head">品名</div>
        <div align="center" flex="10" class=" table-head">规格</div>
        <div align="center" flex="10" class=" table-head">品牌</div>
        <div align="center" flex="10" class=" table-head">品牌名称</div>
        <!--//modify-->
        <!--3、	商品属性：pso_so_dtl.item_attribute，不可修改，若是抛转的单据沿用来源单据的值，若为新增，
        则值由品名pso_so_dtl.plm_base_item_file_uuid关联的所有子单身品名plm_base_item_file.name+pso_so_ext_dtl.item_attribute回写-->
        <div align="center" flex="10"  class=" table-head">商品属性</div>
        <!--//modify-->
        <div align="center" flex="10" class=" table-head">销售类型</div>
        <div align="center" flex="10" class=" table-head">采购数量</div>
        <div align="center" flex="10" class=" table-head">出货数量</div>
        <div align="center" flex="10" class=" table-head">欠货数量</div>
        <div align="center" flex="10" class=" table-head">销售单位</div>
        <div align="center" flex="10" class=" table-head">采购单价</div>
        <div align="center" flex="10" class=" table-head">采购税额</div>
        <div align="center" flex="10" class=" table-head">采购金额(未税)</div>
        <div align="center" flex="10" class=" table-head">采购金额(含税)</div>
        <div align="center" flex="10" class=" table-head">特价单价</div>
        <div align="center" flex="10" class=" table-head">促销折扣率</div>
        <div align="center" flex="10" class=" table-head">促销单价</div>
        <div align="center" flex="10" class=" table-head">成交价</div>
        <!-- <div align="center" flex="10" class=" table-head">标准价</div> -->
        <!-- <div align="center" flex="10" class=" table-head">标准金额</div> -->
        <div align="center" flex="10" class=" table-head">定制否</div>
        <div align="center" flex="10" class=" table-head">单套定制费</div>
        <div align="center" flex="10" class=" table-head">定制备注</div>
        <div align="center" flex="10" class=" table-head">备注</div>
        <div align="center" flex="10" class=" table-head">审核否</div>
        <div align="center" flex="10" class=" table-head">采购状态</div>
        <div align="center" flex="10" class=" table-head">抛转否</div>
        <div align="center" flex="10" class=" table-head">退回备注</div>
        <div align="center" flex="10" class=" table-head">预计送货日</div>
        <div align="center" flex="15" class=" table-head">来源抛转流水号</div>
    </div>
    <div ng-repeat="orderDetail in OrderDetailList.content  | orderBy:'no'">
        <div layout="row" ng-style="orderDetail.orderQty == 0 && { 'color': 'gray' }">
            <div flex="5"
                 ng-disabled="!(selectedItem.confirm == 1 && selectedItem.status == 1 && selectedItem.transferFlag == 2)"
                 style="padding:0px 0px 0px 0px;" layout-align="center" class=" table-item">
                <md-checkbox ng-checked="exists(orderDetail, selectedDetail)" ng-show="orderDetail.orderQty > 0 && orderDetail.transferFlag != 1"
                             ng-click="toggleDetail(orderDetail, selectedDetail)">
                </md-checkbox>
            </div>

            <div flex="5" class="table-item" style="color: rgba(0, 0, 0, 0.87)"
                 ng-show="showDtlOpt">
                <div layout="row" layout-sm="column" layout-align="center center">
                    <div ng-show="orderDetail.confirm == 1 && orderDetail.status == 1 && orderDetail.transferFlag == 2"
                         align="center" style="color: rgba(0, 0, 0, 0.87)"
                         ng-click="orderDetailEditMenuAction(orderDetail)"><i class="fa fa-pencil-square-o"></i>&nbsp;{{itemOperationMenuDisplayOption['500-item-edit'].name}}
                    </div>
                    <div ng-show=" orderDetail.confirm == 1 && orderDetail.status == 1 && orderDetail.transferFlag == 2"
                         align="center" style="color: rgba(0, 0, 0, 0.87)"
                         ng-click="orderDetailDeleteMenuAction(orderDetail)"><i class="fa fa-times"></i>&nbsp;{{itemOperationMenuDisplayOption['500-item-delete'].name}}
                    </div>
                </div>
            </div>

            <div align="center" flex="5" class="table-item" ng-style="getDetailBgcolor(orderDetail)">
                {{orderDetail.no}}
            </div>
            <div align="center" flex="10" class="table-item">{{orderDetail.item.name}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.item.standard}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.itemCustomScope.no}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.itemCustomScope.name}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.itemAttribute}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.saleType.name}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.orderQty}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.transferOrderQty}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.untransferOrderQty}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.item.unit}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.oriPurPrice}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.oriPurTax}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.oriPurAmt}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.oriPurAmtTax}}</div>
            <div align="center" flex="10" class="table-item">{{orderDetail.specialPrice}}</div><!-- 特价单价 -->
            <div align="center" flex="10" class="table-item">{{orderDetail.promotionDiscountRate}}{{orderDetail.promotionDiscountRate || orderDetail.promotionDiscountRate === 0 ? '%' : ''}}</div><!-- 促销折扣率 -->
            <div align="center" flex="10" class="table-item">{{orderDetail.promotionPrice}}</div><!-- 促销单价 -->
            <div align="center" flex="10" class="table-item">{{orderDetail.oriTransactionPrice}}</div><!-- 成交价 -->
            <!-- <div align="center" flex="10" class="table-item">{{orderDetail.standardPrice}}</div><!-- 标准价 -->
            <!-- <div align="center" flex="10" class="table-item">{{orderDetail.oriStandardAmt}}</div><!-- 标准金额 -->
            <div align="center" flex="10" class="table-item">{{CUSTOMIZE_FLAG[orderDetail.customizeFlag].name}}</div><!-- 定制否 -->
            <div align="center" flex="10" class="table-item">{{orderDetail.perCustomizePrice}}</div><!-- 单套定制费 -->
            <div align="center" flex="10" class="table-item">{{orderDetail.customizeRemark}}</div><!-- 定制备注 -->
            <div align="center" flex="10" class="table-item">{{orderDetail.remark}}</div><!-- 备注 -->
            <div align="center" flex="10" class="table-item">{{CONFIRM[orderDetail.confirm].name}}</div><!-- 审核否 -->
            <div align="center" flex="10" class="table-item">{{PURCHASE_FLAG[orderDetail.purchaseFlag].name}}</div><!-- 采购状态 -->
            <div align="center" flex="10" class="table-item">{{TRANSFER_PSO_FLAG[orderDetail.transferFlag].name}}</div><!-- 抛转否 -->
            <div align="center" flex="10" class="table-item">{{orderDetail.returnRemark}}</div><!-- 退回备注 -->
            <div align="center" flex="10" class="table-item">{{orderDetail.deliverDate | date: 'yyyy-MM-dd'}}</div><!-- 预计送货日 -->
            <div align="center" flex="15" class="table-item">{{orderDetail.psoTransferNo}}</div><!-- 来源抛转流水号 -->
        </div>
    </div>
</md-content>
