<md-dialog style="padding: 30px;min-width: 1000px; max-height:650px;">
<style type="text/css">
    md-input-container {
        padding-bottom: 16px;
    }
</style>
    <md-content >

        <div flex layout="column" style="font-size: small">
            <div layout="row">
                <div layout="column" flex="20" ng-if="saveData.length > 0">
                    <div style=" padding: 0px 0px 15px 0px;">新增商品清单</div>
                    <md-chips ng-repeat="newData in saveData">
                        <md-chip>
                            <span style="font-size: small" ng-click="bindAddData(newData)">{{newData.item.name}}</span>
                            <md-icon md-svg-icon="md-close" ng-click="removeAddData(data)"></md-icon>
                        </md-chip>
                    </md-chips>
                </div>
                <div layout="column" flex="35">

                    <div style=" padding: 0px 0px 15px 0px;">请选择商品</div>
                    <form name="searchData" novalidate="">
                        <div layout="row" flex="40">

                            <md-input-container flex="40">
                                <label>商品编号/品名</label>
                                <input name="no" type="text" ng-model="searchKeyword">
                            </md-input-container>
                            <!--<md-input-container flex="30">-->
                            <!--<label>商品名称</label>-->
                            <!--<input name="no" type="text" ng-model="searchName" md-maxlength="20">-->
                            <!--</md-input-container>-->
                            <md-input-container flex="40">
                                <label>规格</label>
                                <input name="standard" type="text" ng-model="searchStandard" md-maxlength="20">
                            </md-input-container>
                            <md-button flex="10" ng-click="search()" ng-disabled="searchData.$invalid">
                                <i class="fa fa-search"></i>
                            </md-button>
                        </div>
                        <md-list-item class="md-2-line" ng-repeat="data in allData.content" ng-click="selectData(data)">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <div flex="35" layout="column"><span>{{ data.no }}</span></div>
                                    <div layout="column"><span>{{ data.name }}</span></div>
                                </div>
                                <div class="md-list-item-text">
                                    <div layout="column"><span>{{ data.standard }}</span></div>
                                </div>
                            </div>

                            <md-divider ></md-divider>
                        </md-list-item>
                    </form>
                    <div pagination option="pageOption" callback="refreshData()"></div>
                </div>
                <!--<div layout="column" flex="5"></div>-->
                <div layout="column" flex="20">

                    <div ng-class="centre" ng-show="addOrderDetail.item.path != null">
                        <img class="prod-sm-img"
                             src="{{getImageFullPath(addOrderDetail.item.path)}}" style="width: 150px;">
                    </div>

                    <md-input-container>
                        <label class="label">品号：</label>
                        <input type="text" ng-model="addOrderDetail.item.no" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label class="label">品名：</label>
                        <input type="text" ng-model="addOrderDetail.item.name" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label class="label">品牌编号：</label>
                        <input type="text" ng-model="addOrderDetail.itemCustomScope.no" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label class="label">品牌名称：</label>
                        <input type="text" ng-model="addOrderDetail.itemCustomScope.name" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label class="label">采购单价：</label>
                        <input type="number" aria-label="..." string-to-number required
                               ng-model="addOrderDetail.oriPurPrice" min="0"
                               ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || ui_status == UI_STATUS.PRE_EDIT_UI_STATUS">
                    </md-input-container>
                    <md-input-container>
                        <label class="label">采购数量：</label>
                        <input type="number" ng-model="addOrderDetail.orderQty" string-to-number required min="1"
                               step="1" ng-change="calcPurAmt()">
                    </md-input-container>
                    <md-input-container>
                        <label class="label">采购金额：</label>
                        <input type="number" aria-label="..." string-to-number required
                               ng-model="addOrderDetail.oriPurAmt" min="0"
                               ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || ui_status == UI_STATUS.PRE_EDIT_UI_STATUS">
                    </md-input-container>
                </div>
                <div layout="column" flex="5"></div>
                <div layout="column" flex="20">
                    <md-input-container>
                        <label>销售类型：</label>
                        <md-select placeholder="" ng-model="addOrderDetail.saleTypeUuid" class="select" ng-change="refreshUI()"
                                   ng-disabled="addOrderDetail.saleTypeUuid == null || addOrderDetail.saleTypeUuid == undefined">
                            <!--
                            <md-option ng-selected="saleType.uuid == selectedOrderDetail.saleType.uuid"
                                       ng-repeat="saleType in saleTypes" value="{{saleType.uuid}}">{{saleType.name}}
                            </md-option>
                            -->
                            <md-option value="162A8B4C-3C3A-4D72-BB3E-47538CFA5CE8">常规</md-option>
                            <md-option value="D3DE3DF8-5D38-4083-A41A-B0E440E3786E">折扣</md-option>
                            <md-option value="AA929EC9-4392-4C23-A12D-346936F26DCC">赠送</md-option>
                            <md-option value="F1DEDA0E-A607-4934-B305-EEC3C447C509">特价</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-icon-float" style="margin: 0px;">
                        <label class="label" style="margin: 0px;">促销折扣率：</label>
                        <input type="number" aria-label="..." string-to-number required
                               ng-model="addOrderDetail.promotionDiscountRate" min="0" ng-change="chgProR()"
                               ng-disabled="addOrderDetail.saleTypeUuid != 'D3DE3DF8-5D38-4083-A41A-B0E440E3786E'">
                        <md-icon style="right: 6px; left: auto;">%</md-icon>
                    </md-input-container>
                    <md-input-container>
                        <label class="label">促销单价：</label>
                        <input type="number" aria-label="..." string-to-number required
                               ng-model="addOrderDetail.promotionPrice" min="0" ng-change="chgProP()"
                               ng-disabled="addOrderDetail.saleTypeUuid != 'D3DE3DF8-5D38-4083-A41A-B0E440E3786E'">
                    </md-input-container>
                    <md-input-container>
                        <label class="label">特价单价：</label>
                        <input type="number" aria-label="..." string-to-number ng-model="addOrderDetail.specialPrice"
                               ng-change="calcPurAmt()"
                               ng-disabled="addOrderDetail.saleTypeUuid != 'F1DEDA0E-A607-4934-B305-EEC3C447C509'">
                    </md-input-container>
                    <md-input-container>
                        <div class="md-input-has-value"><label>定制否：</label></div>
                        <md-select placeholder="" ng-model="addOrderDetail.customizeFlag" class="select" ng-change="calcPurAmt()"
                                   ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || ui_status == UI_STATUS.PRE_EDIT_UI_STATUS">
                            <md-option value="1">是</md-option>
                            <md-option value="2">否</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label class="label">定制备注：</label>
                        <input type="text" aria-label="..." ng-model="addOrderDetail.customizeRemark" md-maxlength="20"
                               ng-disabled="addOrderDetail.customizeFlag != '1'">
                    </md-input-container>
                    <md-input-container>
                        <label class="label">单套定制费：</label>
                        <input type="number" aria-label="..." string-to-number min="0" step="0.01"
                               ng-model="addOrderDetail.perCustomizePrice" ng-change="calcPurAmt()"
                               ng-disabled="addOrderDetail.customizeFlag != '1'">
                    </md-input-container>
                    <md-input-container>
                        <label class="label">备注：</label>
                        <input type="text" aria-label="..." ng-model="addOrderDetail.remark" md-maxlength="20">
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <md-button ng-click="addData()">
                    <i class="fa fa-plus"></i>&nbsp;新增
                </md-button>
                <md-button ng-click="hideDlg()">
                    <i class="fa fa-check"></i>&nbsp;保存
                </md-button>
                <md-button ng-click="cancelDlg()"><i class="fa fa-times"></i>&nbsp;取消</md-button>
            </div>
        </div>

<!-- garbage area
                    <md-input-container>
                        <label class="label">标准价：</label>
                        <input type="number" aria-label="..." string-to-number required
                               ng-model="addOrderDetail.standardPrice" min="0"
                               ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || ui_status == UI_STATUS.PRE_EDIT_UI_STATUS">
                    </md-input-container>
                    <md-input-container>
                        <label class="label">标准金额：</label>
                        <input type="number" aria-label="..." string-to-number required
                               ng-model="addOrderDetail.oriStandardAmt" min="0"
                               ng-disabled="ui_status == UI_STATUS.VIEW_UI_STATUS || ui_status == UI_STATUS.PRE_EDIT_UI_STATUS">
                    </md-input-container>

-->
    </md-content>
</md-dialog>