<md-dialog style="padding:20px;min-width: 1000px;">
    <div>
        <div layout="row">
            <div flex="90" align="center">
                出货信息
            </div>
            <div flex>
                <md-button ng-click="cancelDlg()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </div>
    </div>
    <div>
        <div layout="row">
            <div align="center" flex="30" class=" table-head">订单号</div>
            <div align="center" flex="15" class=" table-head">出货单号</div>
            <div align="center" flex="20" class=" table-head">物流单号</div>
            <div align="center" flex="20" class=" table-head">物流公司</div>
            <div align="center" flex="15" class=" table-head">收货日期</div>
        </div>
    </div>
    <div ng-repeat="logisticsDetailR in logisticsDetailRList">
        <div layout="row">
            <div align="center" flex="30" class=" table-item">{{logisticsDetailR.orderId}}</div>
            <div align="center" flex="15" class=" table-item">{{logisticsDetailR.deliverNo}}</div>
            <div align="center" flex="20" class=" table-item">{{logisticsDetailR.logisticsNo}}</div>
            <div align="center" flex="20" class=" table-item">{{logisticsDetailR.ocmBaseSupplierName}}</div>
            <div align="center" flex="15" class=" table-item">{{logisticsDetailR.receiptDate}}</div>
        </div>
    </div>
</md-dialog>
