<div class="main-panel">
    <div ng-show="ui_status == UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="70" hide-sm hide-md class="left-title" ng-show="selectedItem" style="position: relative;">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;"
                           ng-if="formMenuDisplayOption['105-edit'].display && (menuAuthDataMap[formMenuDisplayOption['105-edit'].uuid] || isAdmin() || !formMenuDisplayOption['105-edit'].uuid)"
                           ng-click="editItemAction(selectedItem)">
                    <ng-md-icon icon="edit"></ng-md-icon>
                </md-button>
                <md-menu>
                    <md-button class="md-icon-button close-btn" aria-label="More" style="float: left;"
                               ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button class="md-button" aria-label="More"
                                       ng-click="deleteClickAction($event, selectedItem)"
                                       ng-if="formMenuDisplayOption['103-delete'].display && (menuAuthDataMap[formMenuDisplayOption['103-delete'].uuid] || isAdmin() || !formMenuDisplayOption['105-edit'].uuid)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <span>渠道层级详细信息</span>
                <md-button class="md-icon-button close-btn float-right" aria-label="More"
                           ng-click="selectedItem = null">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
            </div>
            <div flex class="right-title">
                <md-button class="md-icon-button close-btn" aria-label="More" style="float: left; margin-left: 36px;"
                           ng-click="preAddItemAction({}, 'ChannelLevelMaster', '新增渠道层级')">
                    <ng-md-icon icon="add"></ng-md-icon>
                </md-button>
                <span>渠道层级列表</span>
                <md-menu>
                    <md-button class="md-icon-button close-btn float-right" aria-label="More"
                               ng-click="$mdOpenMenu($event)">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button class="md-button" aria-label="More" ng-click="deleteAllClickAction($event)"
                                       ng-if="formMenuDisplayOption['104-batchDelete'].display && (menuAuthDataMap[formMenuDisplayOption['104-batchDelete'].uuid] || isAdmin() || !formMenuDisplayOption['104-batchDelete'].uuid)">
                                <ng-md-icon icon="delete"></ng-md-icon>
                                批量删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div layout="row" class="main-body border">
            <div flex="70" hide-sm hide-md layout="column" class="left-body" ng-show="selectedItem">
                <div flex="100" layout-padding>
                    <div layout="row" layout-padding style="font-size: 20px;padding-top: 2px; font-weight: bold;">
                        <span flex>渠道/直营店编号: {{selectedItem.no}}</span>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-wrap layout-margin>
                        <span flex=100" flex-sm="100" layout-padding>
                            <span class="item-name">渠道/直营店名称</span>
                            <span class="item-content">{{selectedItem.name}}</span>
                        </span>
                        <span flex="100" flex-sm="100" layout-padding>
                            <span class="item-name">上层渠道</span>
                            <span class="item-content">{{parentOcmBaseChanName}}</span>
                        </span>
                    </div>

                    <md-tabs md-dynamic-height md-border-bottom style="padding-top: 30px;">
                        <md-tab label="下层渠道信息">
                            <div layout="row" layout-wrap style="margin-top: 20px;">
                                <div flex="100" ng-repeat="detail in selectedItem.detailList" ng-click=""
                                     class="prod-item" style="position: relative;">
                                    <div layout="row" class="height: 100%;">
                                        <div flex="50">
                                            <div layout-padding>渠道编号 : <span>{{detail.channel.no}}</span></div>
                                            <div layout-padding>渠道名称 : <span>{{detail.channel.name}}</span></div>
                                        </div>
                                        <!--<div flex="50" style="margin-bottom: 45px;">-->
                                        <!--<div layout-padding>渠道/直营店名称 :  <span>{{detail.channel.name}}</span></div>-->
                                        <!--</div>-->
                                        <div style="position: absolute; right: -10px; bottom: 10px;">
                                            <md-button class="md-button close-btn" aria-label="More"
                                                       ng-click="deleteDetailAction(detail)"
                                                       ng-if="formMenuDisplayOption['106-detailDelete'].display && (menuAuthDataMap[formMenuDisplayOption['106-detailDelete'].uuid] || isAdmin() || !formMenuDisplayOption['106-detailDelete'].uuid)">
                                                <ng-md-icon icon="remove_circle_outline" size="20"></ng-md-icon>
                                                删除
                                            </md-button>
                                            <!--<md-button class="md-button close-btn" aria-label="More"-->
                                            <!--ng-click="editItemAction(detail, 'PSO_ORDER_DTL', '订单: ' + selectedItem.no + ' / ' + '产品信息: ' + detail.no)">-->
                                            <!--<ng-md-icon icon="edit" size="20"></ng-md-icon>编辑-->
                                            <!--</md-button>-->
                                        </div>
                                    </div>
                                    <!-- detail panel -->
                                    <div layout="row" ng-show="detail.showMorePanel">
                                        <div layout-margin>Have more stuff here....</div>
                                    </div>
                                    <md-divider style="margin-top: 5px"></md-divider>
                                </div>
                                <div flex="100" class="add-new" style="margin: 10px 0 0 0;"
                                     ng-click="preAddItemAction({}, 'ChannelLevelDetail', '新增下层渠道层级')"
                                     ng-if="formMenuDisplayOption['107-detailAdd'].display && (menuAuthDataMap[formMenuDisplayOption['107-detailAdd'].uuid] || isAdmin() || !formMenuDisplayOption['107-detailAdd'].uuid)">
                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;点击新增...</a>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
            <div flex class="right-body">
                <!-- basic search-->
                <div class="search-bar" layout="row" style="position: relative">
                    <span style="position: absolute; top: 15px; left: 10px;">
                        <md-checkbox ng-model="selectAllFlag" aria-label="Checkbox"
                                     ng-change="selectAllAction()"></md-checkbox>
                    </span>
                    <!--<md-input-container flex="15" style="margin-left: 50px;" ng-show="selectedItem == null">-->
                    <!--<label>启用状态</label>-->
                    <!--<md-select ng-model="listFilterOption.status">-->
                    <!--<md-option ng-repeat="(key, value) in STATUS" ng-value="key">{{value.name}}</md-option>-->
                    <!--</md-select>-->
                    <!--</md-input-container>-->
                    <!--<md-input-container flex="15" ng-show="selectedItem == null">-->
                    <!--<label>审核状态</label>-->
                    <!--<md-select ng-model="listFilterOption.confirm">-->
                    <!--<md-option ng-repeat="(key, value) in CONFIRM" ng-value="key">{{value.name}}</md-option>-->
                    <!--</md-select>-->
                    <!--</md-input-container>-->
                    <!--<md-input-container flex="15" ng-show="selectedItem == null">-->
                    <!--<label>发布状态</label>-->
                    <!--<md-select ng-model="listFilterOption.release">-->
                    <!--<md-option ng-repeat="(key, value) in RELEASE" ng-value="key">{{value.name}}</md-option>-->
                    <!--</md-select>-->
                    <!--</md-input-container>-->
                    <md-input-container flex style="margin-left: 50px;">
                        <label>渠道</label>
                        <input ng-model="keyword" ng-keypress="queryEnter($event)">
                    </md-input-container>
                    <md-input-container flex style="margin-left: 50px;">
                        <label>上层渠道</label>
                        <input ng-model="parentKeyword" ng-keypress="queryEnter($event)">
                    </md-input-container>
                    <md-button class="md-raised" style="margin-top: 20px;height: 20px;"
                               ng-if="formMenuDisplayOption['100-query'].display && (menuAuthDataMap[formMenuDisplayOption['100-query'].uuid] || isAdmin() || !formMenuDisplayOption['100-query'].uuid)"
                               ng-click="queryAction()">
                        查询
                    </md-button>

                </div>
                <!-- status panel-->
                <div layout="row" layout-warp layout-padding layout-margin ng-show="!selectedItem"
                     style="margin: 20px 0px 20px 0px; padding-left: 60px;background-color: whitesmoke;position: relative;height: 50px;padding-top: 15px;">
                    <span flex="20">总记录数: {{pageOption.totalElements}}</span>
                    <span flex="20">已选记录数: {{selected.length}}</span>

                    <md-menu>
                        <md-button class="md-button close-btn" aria-label="More" ng-click="$mdOpenMenu($event)"
                                   style="position: absolute;right: 0px;top: 0px;">
                            <ng-md-icon icon="sort"></ng-md-icon>
                            排序
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('channel.name')">
                                    <ng-md-icon ng-show="sortByField == 'name'" icon="play_arrow"></ng-md-icon>
                                    按名称
                                </md-button>
                                <md-button class="md-button" aria-label="More" ng-click="sortByAction('channel.no')">
                                    <ng-md-icon ng-show="sortByField == 'no'" icon="play_arrow"></ng-md-icon>
                                    按编号
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div ng-repeat="item in itemParent | orderBy : 'no'"
                     ng-class="selectedItem.uuid == item.uuid ? 'selected-item':''">
                    <div class="summary-item" style="background-color: transparent">
                        <div layout="row" layout-wrap>
                            <span style="position: absolute">
                                <md-checkbox ng-model="item.selected" aria-label="Checkbox"
                                             ng-click="selectItemAction($event, item)"></md-checkbox>
                            </span>
                            <div flex="100" layout="row"
                                 style="padding-left: 50px;padding-top: 10px; font-weight: bold;">
                                <span flex ng-click="showDetailPanelAction(item)" class="summary-item__title">{{item.no}}</span>
                            </div>
                            <div flex="100" layout="row" style="padding-left: 50px;padding-top: 10px;font-size: 14px;"
                                 layout-align="space-between center" ng-hide="selectedItem">
                                <div flex layout="row" style="color:#7f8fa4">
                                    <span>渠道: <span style="font-style: italic">{{item.name}}&nbsp;&nbsp;</span></span>
                                </div>
                                <div layout="row" layout-align="end center">
                                    <md-button class="md-button close-btn" aria-label="More"
                                               ng-click="toggleMorePanelAction(item)"
                                               style="position: relative;left: 15px;"
                                               ng-disabled="item.detailList.length ==0">
                                        查看更多...
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-wrap ng-show="item.showMorePanel && !selectedItem"
                         style="font-size: 14px;">
                        <div flex="100" ng-repeat="subItem in item.detailList" style="padding: 10px 20px 0px 20px;">
                            <md-divider></md-divider>
                            <div layout="row" style="height: 100%;">
                                <div flex="40">
                                    <div layout-padding>渠道编号 : <span>{{subItem.channel.no}}</span></div>
                                </div>
                                <div flex="40">
                                    <div layout-padding>渠道名称 : <span>{{subItem.channel.name}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div pagination option="pageOption" callback="refreshList()"></div>
            </div>
        </div>
    </div>

    <div ng-if="ui_status != UI_STATUS.VIEW_UI_STATUS">
        <div layout="row" class="top-title">
            <div flex="100" class="left-title">
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="listItemAction()"
                           style="float: left; margin-left: 36px;">
                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                </md-button>
                <span>{{desc}}</span>
                <md-button class="md-icon-button close-btn" aria-label="More" ng-click="saveItemAction()">
                    <ng-md-icon icon="save"></ng-md-icon>
                </md-button>
            </div>
        </div>
        <div flex="100" layout="column" layout-padding>
            <md-input-container>
                <label class="label">渠道：</label>
                <input type="text" aria-label="..." ng-model="addItem.channelName"
                       ng-disabled="status != 'add'"
                       ng-click="openChannelDlg()">
            </md-input-container>
        </div>

        <div flex="100" layout="column" layout-padding>
            <md-input-container>
                <label class="label">上层渠道：</label>
                <input type="text" aria-label="..." ng-model="addItem.parentChannelName"
                       ng-disabled="domain == 'ChannelLevelDetail'"
                       ng-click="openParentChannelDlg()">
            </md-input-container>
        </div>
    </div>


</div>